.game{
	background-color: #00000A;
	color: whitesmoke;
	padding: 1%;
}
img{
	width:100%;
}
.game ul{
	padding: 1%;
}
span{
	color: #33CCFF;
	font-size: 16px;
}
h2{
	color: #33CCFF;
}
.item-game{
	background-color: white;
	margin:1px;
	margin-right: 2%;
	padding: 1px;
	color:black;
	text-align: center;
}
