/*.item-game{
	margin-bottom: 1%;
	min-height: 300px;
	max-height: 300px;
	overflow: hidden;
	background-color: white;
	margin-right: 3%;
	padding: 1px;
	color:black;
	text-align: center;

}*/
h3{
	color: white;
}
/*
.item-game img{
	width:100%;
	min-height: 200px;
	max-height: 250px;
	margin-bottom:5px;
}*/
.title{
	background-color:black;
	width:100%;
	text-align:center;
	padding:2px;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }