<!DOCTYPE html>
<html data-ng-app="igdbAngular" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Internet Game Data Base</title>
	<script src="js/ext/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" href="css/ext/bootstrap.min.css">
	<link rel="stylesheet" href="css/ext/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/animations.css">
	
	<script src="js/ext/bootstrap.min.js"></script>
	<script src="js/ext/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="css/ext/jquery-ui.css">
	<script src="js/ext/angular.min.js"></script>
	<script src="js/ext/angular-ui-router.min.js"></script>
	<script src="js/ext/angular-animate.min.js"></script>
	<script src="js/ext/angular-translate.min.js"></script>
	<script src="js/autocomplete.js"></script>
	<script src="js/app.js"></script>
	<script src="js/ext/ui-bootstrap-0.13.0.min.js"></script>
	<script src="js/ext/ui-bootstrap-tpls-0.13.0.min.js"></script>
	<script src="js/ext/ng-file-upload.min.js"></script>
	<script src="js/ext/angular-locale_es-es.js"></script>
	<script src="js/ext/tmhDynamicLocale.min.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	<link rel="stylesheet" type="text/css" href="css/fuentes.css">
	<link rel="stylesheet" href="css/estilo.css">

</head>
<body>
	<div class="container-fluid">
		<header class="row vertical-align jumbotron">
			<div data-ng-controller="gameController" class="col-md-10 col-xs-12">
				<h2><a href="#" ui-sref="home"><img class="col-md-3 col-xs-12" src="img/logotipo.png"><img class="col-md-9 col-xs-12" src="img/textocabecera1.png"></a>
					<small data-ng-controller="countController" data-ng-init="getCount()">{{'SLOGAN_1' | translate}} {{count}} {{'SLOGAN_2' | translate}}</small>
				</h2>
			</div>
			<div data-ng-controller="translationController" class="col-md-offset-1 col-md-1">
				<img class="col-md-10 col-xs-3" data-ng-src="img/flag_es.png" data-ng-click="changeLanguage('es')">
				<img class="col-md-10 col-xs-3" data-ng-src="img/flag_en.png" data-ng-click="changeLanguage('en')">
			</div>
		</header>
		<nav class="navbar navbar-default">
			<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
			<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active" ui-sref="home"><a href="#">{{'NAV.GAMES' | translate}}</a></li>
				<li ui-sref-active="active" ui-sref="platforms"><a href="#">{{'NAV.PLATFORMS' | translate}}</a></li>
				<li ui-sref-active="active" ui-sref="api"><a href="#">{{'NAV.API' | translate}}</a></li>
			</ul>
			<form data-ng-controller="gameController" class="buscador navbar-form navbar-left">
				<div class="form-group">
					<input class="form-control" data-ng-model="search.term" ui-autocomplete="autoComplete" type="text" placeholder="{{'NAV.SEARCH_PLACEHOLDER' | translate}}"/>
					<button data-ng-click="getGamesByTerm()" id="submitsearch" class="btn btn-default pull-right"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				</div>
			</form>
			
			<div class="btn-group" dropdown is-open="status.isopen" data-ng-if="$root.user" data-ng-controller="gameController">
				<button type="button" class="btn btn-primary dropdown-toggle  desplegable" dropdown-toggle ng-disabled="disabled">
					Tu cuenta <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a ui-sref="perfil" href="#" data-ng-click="openViewUser()">{{'NAV.VIEW' | translate}}</a>
					</li>
					<li>
						<a href="#" data-ng-click="openEditUser()" data-ng-controller="userController">{{'NAV.MODIFY' | translate}}</a>
					</li>
				</ul>
			</div>
		
			<ul class="nav navbar-nav navbar-right col-md-5 navbar-login" data-ng-controller="userController">
				<!--
				<li data-ng-if="$root.user">
					<a ui-sref="perfil" href="#" data-ng-click="openViewUser()">{{'NAV.VIEW' | translate}}</a>
				</li>
				<li data-ng-if="$root.user">
					<a href="#" data-ng-click="openEditUser()">{{'NAV.MODIFY' | translate}}</a>
				</li>
			-->
				<li data-ng-if="$root.user.role == 'Admin'">
					<a data-ng-controller="adminController" data-ng-click="openNewGame()" href="#">Añadir juego</a>
				</li>
				<li data-ng-if="$root.user">
					<span>Bienvenido {{user.user}}</span><button style="margin-right: 5px;" class="btn btn-default navbar-btn" data-ng-click="logout()"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></button>
				</li>
				<li data ng-if="!$root.user">
					<form class="navbar-form form-inline">
						<div class="form-group form-login-navbar">
							<input class="form-control inputs-log" data-ng-model="credentials.user" type="text" placeholder="{{'USER.USERNAME' | translate}}" required />
							<input class="form-control inputs-log" data-ng-model="credentials.password" type="password" placeholder="{{'USER.PASSWORD' | translate}}" required />
							<button data-ng-click="login()" class="btn btn-success pull-right"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
							<button class="btn btn-default pull-right" data-ng-click="openNewUser()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
						</div>
					</form>
				</li>
			</ul>
			</div>
		</nav>
		<div class="animate-view" ng-animate-children ui-view></div>
	</div>
</body>
</html>