<!DOCTYPE html>
<html data-ng-app="igdbAngular" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Internet Game Data Base</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<script src="js/ext/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" href="css/ext/bootstrap.min.css">
	<link rel="stylesheet" href="css/ext/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/animations.css">
	
	<script src="js/ext/bootstrap.min.js"></script>
	<script src="js/ext/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="css/ext/jquery-ui.css">
	<script src="js/ext/angular.min.js"></script>
	<script src="js/ext/angular-ui-router.min.js"></script>
	<script src="js/ext/angular-animate.min.js"></script>
	<script src="js/ext/angular-translate.min.js"></script>
	<script src="js/autocomplete.js"></script>
	<script src="js/ext/ui-bootstrap-0.13.0.min.js"></script>
	<script src="js/ext/ui-bootstrap-tpls-0.13.0.min.js"></script>
	<script src="js/ext/ng-file-upload.min.js"></script>
	<script src="js/ext/angular-locale_es-es.js"></script>
	<script src="js/ext/angular-locale_fr-fr.js"></script>
	<script src="js/ext/angular-locale_de-de.js"></script>
	<script src="js/ext/tmhDynamicLocale.min.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	<script src="https://www.youtube.com/iframe_api"></script>
	<script src="js/angular-youtube-embed.js"></script>
	<link rel="stylesheet" type="text/css" href="css/fuentes.css">
	<link rel="stylesheet" href="css/estilo.css">
	<script src="js/app.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<header class="row">
			<div data-ng-controller="gameController" class="col-md-8 col-xs-12">
				<h2><a href="#" ui-sref="home"><img class="col-md-3 col-xs-12" src="img/logotipo.png"><img class="col-md-9 col-xs-12" src="img/textocabecera1.png"></a>
					<small data-ng-controller="countController" data-ng-init="getCount()">{{'SLOGAN_1' | translate}} {{count}} {{'SLOGAN_2' | translate}}</small>
				</h2>
			</div>
			<div class="lateral col-xs-12 col-md-4">
				<div class="col-xs-6 col-md-offset-3 col-md-9 ">
	                <ul class="social-network social-circle">
	                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
	                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
	                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
	                </ul>
                </div>
                <div data-ng-controller="translationController" class="col-xs-6 col-md-offset-4 col-md-8 flags">
					<img class="col-xs-3" data-ng-src="img/flag_es.png" data-ng-click="changeLanguage('es')">
					<img class="col-xs-3" data-ng-src="img/flag_en.png" data-ng-click="changeLanguage('en')">
					<img class="col-xs-3" data-ng-src="img/flag_fr.png" data-ng-click="changeLanguage('fr')">
					<img class="col-xs-3" data-ng-src="img/flag_de.png" data-ng-click="changeLanguage('de')">
				</div>				
			</div>
		</header>
		<nav class="navbar navbar-default">
			<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
			<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active" ui-sref="home"><a href="#">{{'NAV.GAMES' | translate}}</a></li>
				<li ui-sref-active="active" ui-sref="platforms"><a href="#">{{'NAV.PLATFORMS' | translate}}</a></li>
				<li ui-sref-active="active" ui-sref="soulmates"><a href="#">{{'NAV.SOUL_MATES' | translate}}</a></li>
				<li ui-sref-active="active" ui-sref="api"><a href="#">{{'NAV.API' | translate}}</a></li>
			</ul>
			<form data-ng-controller="gameController" class="buscador navbar-form navbar-left">
				<div class="form-group">
					<input class=" input-sm form-control" data-ng-model="search.term" ui-autocomplete="autoComplete" type="text" placeholder="{{'NAV.SEARCH_PLACEHOLDER' | translate}}"/>
					<button data-ng-click="getGamesByTerm()" id="submitsearch" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
				</div>
			</form>
		
			<ul class="nav navbar-nav navbar-right navbar-login" data-ng-controller="userController">
				<li class="btn-group" dropdown is-open="status.isopen" data-ng-if="$root.user">
					<button type="button" class="btn btn-primary btn-lg dropdown-toggle  desplegable" dropdown-toggle ng-disabled="disabled">
						{{'NAV.DROPDOWN.ACCOUNT' | translate}} <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" data-ng-click="getUserById($root.user._id)">{{'NAV.DROPDOWN.VIEW' | translate}}</a>
						</li>
						<li>
							<a href="#" data-ng-click="openEditUser()">{{'NAV.DROPDOWN.MODIFY' | translate}}</a>
						</li>
						<li data-ng-if="$root.user.role == 'Admin'" class="divider"></li>
						<li data-ng-if="$root.user.role == 'Admin'">
						<a data-ng-controller="adminController" data-ng-click="openNewGame()" href="#">{{'NAV.DROPDOWN.ADD_GAME' | translate}}</a>
						</li>
						<li class="divider"></li>
						<li>
							<a data-ng-click="logout()"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> {{'NAV.DROPDOWN.LOGOUT' | translate}}</a>
						</li>
					</ul>
				</li>
				<li data-ng-if="$root.user">
					<p class="text-center info-usuario">{{'NAV.WELCOME' | translate}} {{user.user}}</p>
				</li>
				<li data ng-if="!$root.user">
					<form class="navbar-form form-inline">
						<div class="form-group form-login-navbar">
							<input class="form-control inputs-log input-sm" data-ng-model="credentials.user" type="text" placeholder="{{'USER.USERNAME' | translate}}" required />
							<input class="form-control inputs-log input-sm" data-ng-model="credentials.password" type="password" placeholder="{{'USER.PASSWORD' | translate}}" required />
							<button data-ng-click="login()" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
							<button class="btn btn-sm btn-default" data-ng-click="openNewUser()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>
						</div>
						<alert ng-repeat="alert in loginAlerts" type="{{alert.type}}" close="close(loginAlerts)">{{alert.msg}}</alert>
					</form>
				</li>
			</ul>
			</div>
		</nav>
		<div class="animate-view" ng-animate-children ui-view></div>

	</div>
</body>
</html>