<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Internet Game Data Base</title>
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  	<link rel="stylesheet" href="styles.css">
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
  	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/themes/smoothness/jquery-ui.css">
  	<script type="text/javascript" src="main.js"></script>
</head>
<body>
	<div class="bodycontainer">
		<header class="container">
			<h1><a href="./">Internet Game Data Base</a>
			<small>igdb</small>
			</h1>
		</header>
		<div class="container">
			<nav class="navbar navbar-default">
				<ul class="nav nav-tabs nav-justified">
					<li><a href="#">Juegos</a></li>
					<li><a href="#">Plataformas</a></li>
					<li><a href="#">Editores</a></li>
					<li><a href="#">Desarrolladores</a></li>
					<li><a href="#">Tu perfil</a></li>
				</ul>
			</nav>
		</div>
		<h2>Titulo</h2>
		<div class="row">
			<div class="thumbnail col-md-3">
				<img src="" alt="">
			</div>
			<div class="col-md-9">
				<ul class="list-unstyled">
					<li>Titulos Alternativos</li>
					<li>Plataforma</li>
					<li>Fecha de lanzamiento</li>
					<li>Calificación</li>
					<li>Jugadores</li>
					<li>Cooperativo</li>
					<li>Editor</li>
					<li>Desarrollador</li>
					<li>Géneros</li>
				</ul>
			</div>
		</div>
		<p>Descripción</p>
		<p>Imágenes</p>
		<p>Plataformas disponibles</p>
		<p>Juegos relacionados:</p>
	</div>
</body>
</html>