<div class="game col-md-12" data-ng-controller="gameController">
	<h2>{{game.gameTitle}}</h2>
	<div class="row">
		<div class="col-md-3">
			<img ng-src="http://thegamesdb.net/banners/{{game.images.boxart[1].url}}" alt="Portada de:{{game.gameTitle}}">
		</div>
		<div class="col-md-9">
		<div data-ng-controller="userController">
			<a class="btn btn-warning" data ng-if="$root.user.role == 'Admin'" data-ng-click="deleteGameView(game._id)" href="#">Borrar juego</a>
			<a data ng-if="$root.user.role == 'Admin'" ui-sref="updategame" href="#">Editar juego</a>
		</div>
			<ul class="list-unstyled">
				<li data-ng-if="game.alternateTitles.length !== 0"><span>Titulos Alternativos:</span>
					<ul data-ng-repeat="alt in game.alternateTitles">
						<li>{{alt}}</li>
					</ul>
				</li>
				<li><span>Plataforma:</span>{{game.platform}}</li>
				<li data-ng-if="game.similar.length !== 0"><span>otras Plataformas disponibles</span>
					<ul data-ng-repeat="similar in game.similar" class="list-unstyled list-inline">
						<li><a href="#" data-ng-click="$parent.getGameById(similar._id)"><img data-ng-src="img/platformicons/{{similar.platformId}}"></a></li>
					</ul>
				</li>
				<li><span>Fecha de lanzamiento:</span> {{game.releaseDate}}</li>
				<li><span>Calificación:</span> {{game.rating}}</li>
				<li><span>Jugadores:</span> {{game.players}}</li>
				<li><span>Cooperativo:</span> {{game.coop}}</li>
				<li><span>Editor:</span> {{game.publisher}}</li>
				<li><span>Desarrollador:</span> {{game.developer}}</li>
				<li><span>Géneros:</span> 
					<ul data-ng-repeat="genre in game.genres">
						<li><a href="#" data-ng-click="searchByGenre(genre)">{{genre}}</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<p>{{game.overview}}</p>
	<p><span>Imágenes</span></p>
	<p><span>Juegos relacionados:</span></p>
	<div data-ng-repeat="comment in game.comments" class="list-unstyled">
		<div class="row thumbnail">
			<div class="col-md-3">
				<img data-ng-src="img/{{comment.picture}}"/>
				<span>{{comment._id}}</span>
			</div>
			<div class="col-md-8 col-md-offset-1">
				<span>{{comment.text}}</span>
			</div>
		</div>
	</div>
	<div data-ng-if="game.comments.length === 0">
		<p>No hay comentarios, que esperas para ser el primero?</p>
	</div>
	<form>
		<div class="form-group form-group-lg">
			
				<input type="textarea" class="form-control" placeholder="Introduce tu comentario" data-ng-model="comment.text">
				<a href="#" data-ng-click="addComment()" role="button">Publicar</a>
			
		</div>

	</form>
	
</div>