<div class="game col-md-12" data-ng-controller="gameController">
	<h2>{{game.gameTitle}}</h2>
	<div class="row">
		<div class="col-md-3">
			<img ng-src="{{game.images.boxart.front.url}}" alt="Portada de:{{game.gameTitle}}">
		</div>
		<div class="col-md-3">
			<div data-ng-controller="userController">
				<a class="btn btn-warning" data ng-if="$root.user.role == 'Admin'" data-ng-click="deleteGameView(game._id)" href="#">Borrar juego</a>
				<a data-ng-if="$root.user.role == 'Admin'" data-ng-controller="adminController" data-ng-click="openEditGame()" href="#">Editar juego</a>
			</div>
			<ul class="list-unstyled">
				<li data-ng-if="game.alternateTitles.length !== 0"><span>Titulos Alternativos:</span>
					<ul data-ng-repeat="alt in game.alternateTitles">
						<li>{{alt}}</li>
					</ul>
				</li>
				<li><span>Plataforma:</span>{{game.platform}}</li>
				<li data-ng-if="game.similar.length !== 0"><span>otras Plataformas disponibles</span>
					<ul class="list-unstyled list-inline">
						<li data-ng-repeat="similar in game.similar"><a href="#" data-ng-click="$parent.getGameById(similar._id)"><img data-ng-src="img/platformicons/{{similar.platformId}}"></a></li>
					</ul>
				</li>
				<li><span>Fecha de lanzamiento:</span> {{game.releaseDate | date:'d MMMM y'}}</li>
				<li><span>Calificacion por edades:</span> {{game.esrb}}</li>
				<li><span>Jugadores:</span> {{game.players}}</li>
				<li><span>Cooperativo:</span> {{game.coop}}</li>
				<li><span>Editor:</span> {{game.publisher}}</li>
				<li><span>Desarrollador:</span> {{game.developer}}</li>
				<li><span>Géneros:</span> 
					<ul data-ng-repeat="genre in game.genres">
						<li><a href="#" data-ng-click="searchByGenre(genre)">{{genre}}</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<div class="thumbnail rating form-group">
				<p>Puntuación: {{game.rating}}</p>
				<rating ng-model="rate" max="max" ></rating><span><a href="#" class="btn btn-success" role="button" data-ng-click="addRating()">Votar</a></span>
			</div>
		</div>
		<div class="col-md-5"><img ng-if="game.images.clearlogo.url != null" ng-src="{{game.images.clearlogo.url}}" alt="logo de:{{game.gameTitle}}">
	</div>
	<div class="col-md-11"><p>{{game.overview}}</p></div>
	<div class="col-md-10 col-md-offset-1">
		<accordion close-others="true">
			<accordion-group heading="Banners" is-open="status.isFirstOpen">
			<div class="col-md-8 col-md-offset-2">
				<carousel class="col-md-12" interval="interval">
					<slide ng-repeat="banner in game.images.banner" active="slide.active">
						<img ng-src="{{banner.url}}">
				            <!--<div class="carousel-caption">
				         	   <h4>Slide {{$index+1}}</h4>
				         	</div>-->
				         </slide>
				     </carousel>
				 </div>
				</accordion-group>
				<accordion-group heading="Capturas de pantalla">
				<div class="col-md-8 col-md-offset-2">
					<carousel class="col-md-12" interval="interval">
						<slide ng-repeat="screenshot in game.images.screenshot" active="slide.active">
							<img ng-src="{{screenshot.url}}">
		        	<!--<div class="carousel-caption">
		           	   	    <h4>Slide {{$index+1}}</h4>
		           	   	</div>-->
		           	   </slide>
		           	</carousel>
		           </div>
		       </accordion-group>
		       <accordion-group heading="Imágenes de usuarios">
		       <div class="col-md-8 col-md-offset-2">
		       	<carousel class="col-md-12" interval="interval">
		       		<slide ng-repeat="fanart in game.images.fanart" active="slide.active">
		       			<img ng-src="{{fanart.url}}">
		       		    <!--<div class="carousel-caption">
		         	   		<h4>Slide {{$index+1}}</h4>
		         	   	</div>-->
		         	   </slide>
		         	</carousel>
		         </div>
		     </accordion-group>
		 </accordion>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<p><span>Juegos relacionados:</span></p>
		</div>
		<div class="col-md-10 col-md-offset-1">
		<p><span>Comentarios:</span></p>
			<div data-ng-repeat="comment in game.comments" class="list-unstyled comentarios">
				<div class="comentario col-md-11 thumbnail">
					<div class="col-md-2">
						<img data-ng-src="img/{{comment.picture}}"/>
						<span>{{comment.user}}</span>
					</div>
					<div class="col-md-9 col-md-offset-1">
						<span>{{comment.user}} escribió: <p>{{comment.text}}</p></span>
					</div>
				</div>
				<div class="col-md-1" data-ng-if="$root.user._id == comment.userId" data-ng-click="deleteComment(game._id, comment._id)">
				<p><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></p>
				</div>
			</div>
			<div data-ng-if="game.comments.length === 0">
				<p>No hay comentarios, que esperas para ser el primero?</p>
			</div>
		<div class="col-md-12 form-group form-group-lg">
			<input type="textarea" class="form-control" placeholder="Introduce tu comentario" data-ng-model="comment.text">
			<a href="#" data-ng-click="addComment()" role="button" class="btn btn-success col-md-12">Publica Tu Comentario</a>
		</div>
		</div>



	</div>
