<div data-ng-controller="adminController">
	<form data class="form col-md-offset-2">
		<label for="gameTitle">Titulo: </label><input data-ng-model="newGame.gameTitle" type="text" placeholder="Titulo de juego" required />
		<label for="platform">Plataforma: </label><input data-ng-model="newGame.platform" type="text" placeholder="Plataforma" required />
		<label for="realiseDate">Fecha de Lanzamiento: </label><input data-ng-model="newGame.releaseDate" type="text" placeholder="Fecha de lanzamiento" required />
		<label for="overview">Overview: </label><input data-ng-model="newGame.overview" type="textarea" placeholder="Descripcion" rows="2" required />
		<label for="players">Jugadores: </label><input data-ng-model="newGame.players" type="number" placeholder="Jugadores" required />
		<label>Cooperativo</label>
		<label>
    <input data-ng-model="newGame.coop" type="radio" placeholder="Cooperativo" value="Yes" />
    Si
  </label>
  <label>
    <input data-ng-model="newGame.coop" type="radio" placeholder="Cooperativo" value="No"  default/>
    No
  </label>

		
		<label for="publisher">Editor: </label><input data-ng-model="newGame.publisher" type="text" placeholder="Editor" required />
		<label for="developer">Desarrollador: </label><input data-ng-model="newGame.developer" type="text" placeholder="Desarrollador" required />
		<button data-ng-click="addGame()" class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
	</form>
</div>