<div data-ng-controller="adminController">
	<form data class="form col-md-offset-2">
		<div class="form-group">
			<label for="gameTitle">Titulo: </label><input data-ng-model="newGame.gameTitle" type="text" placeholder="Titulo de juego" required />
		</div>
		<div class="form-group">
			<label for="platform">Plataforma: </label><input data-ng-model="newGame.platform" type="text" placeholder="Plataforma" required />
		</div>
		<div class="form-group">
			<label for="realiseDate">Fecha de Lanzamiento: </label><input data-ng-model="newGame.releaseDate" type="text" placeholder="Fecha de lanzamiento" required />
		</div>
		<div class="form-group">
			<label for="realiseDate">Clasificación por edad: </label><select ng-model="newGame.esrb" ng-options="o as o for o in $root.esrbENG"></select>
		</div>
		<div class="form-group">
			<label for="overview">Overview: </label><textarea data-ng-model="newGame.overview" rows="2" placeholder="Descripcion" required />
		</div>
		<div class="form-group">
			<label for="players">Jugadores: </label><select ng-model="newGame.players" ng-options="o as o for o in $root.players"></select>
			<label>Cooperativo</label>
			<label>
				<input data-ng-model="newGame.coop" type="radio" placeholder="Cooperativo" value="Yes" />
				Si
			</label>
			<label>
				<input data-ng-model="newGame.coop" type="radio" placeholder="Cooperativo" value="No"  default />
				No
			</label>	
		</div>
		<div class="form-group">	
			<label for="publisher">Editor: </label><input data-ng-model="newGame.publisher" type="text" placeholder="Editor" required />
		</div>
		<div class="form-group">
			<label for="developer">Desarrollador: </label><input data-ng-model="newGame.developer" type="text" placeholder="Desarrollador" required />
		</div>
		<div class="form-group row">
		  <label class="col-md-2" ng-repeat="genre in $root.genres">
		      <input type="checkbox" ng-model="genres[genre]" /> {{genre}} 
		  </label>
	  	</div>
		<div class="form-group">
			<button data-ng-click="addGame()" class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
		</div>
	</form>
</div>