<div class="game col-md-12" data-ng-controller="userController">
	<div class="row">
		<div class="col-md-12"><h3>{{'USER.PROFILE_MSG' | translate}} {{$root.profileUser.user}}</h3></div>
		<div class="col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-5">
			<span><img class="col-md-12" ng-src="{{$root.profileUser.picture.url}}"></span>
		</div>
		<div class="col-md-4">
			<div>
				<span>{{'USER.USERNAME' | translate}}:</span> {{$root.profileUser.user}}
			</div>
			<div>
				<span>{{'USER.NAME' | translate}}:</span> {{$root.profileUser.name}}
			</div>	
			<div>
				<span>{{'USER.SURNAME' | translate}}:</span> {{$root.profileUser.surname}}
			</div>
			<div>
				<span>{{'USER.EMAIL' | translate}}:</span> {{$root.profileUser.mail}}
			</div>
		</div>
	</div>
	<div class="cierre"></div>
	<div class="col-md-4">
		<div class="row">
			<p><span>{{'GAME.RATING' | translate}}</span></p>
			<div data-ng-repeat="rating in ratedPage">
				<div class="col-md-6 item-game col-sm-4">
					<div ng-click="$parent.getGameById(rating.gameId)" class="panel panel-default">
						<div class="panel-heading"><a href="#">{{rating.gameTitle}}</a></div>
						<div class="panel-body">
							<img style="width: 100%; height: 100%" ng-src="{{rating.gameImg}}" alt="Portada de:{{game.gameTitle}}">
						</div>
						<div class="panel-footer">
							Rating: {{rating.rate | number:1}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<pagination ng-model="$root.currentPage" ng-changed="changed()" previous-text="{{'PAGINATION.PREVIOUS' | translate}}" next-text="{{'PAGINATION.NEXT' | translate}}" items-per-page="$root.numPerPage" total-items="$root.items"></pagination>
		</div>
	</div>
	<div class="col-md-8">
		<div class="col-md-12 col-md-offset-0">
			<div class="row">
				<p><span>{{'GAME.COMMENTS' | translate}}:</span></p>
				<div data-ng-repeat="comment in commentPage" class="list-unstyled comentarios">
					<div class="row">
						<div class="col-xs-offset-3 col-xs-6 col-sm-offset-0 col-sm-2 col-md-2 col-md-offset-0"><img ng-src="{{comment.gameImg}}"></div>
						<div class="comentario col-md-10 thumbnail col-sm-10 col-xs-12">
							<div class="col-md-8 col-xs-offset-0 col-xs-12 col-sm-9">
								<span><p>{{comment.user}} escribió:</p> 
									<p>{{comment.text}}</p>
									<p>{{comment.created | date:'short'}}</p></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<pagination ng-model="$root.currentPageComment" ng-changed="changed()" previous-text="{{'PAGINATION.PREVIOUS' | translate}}" next-text="{{'PAGINATION.NEXT' | translate}}" items-per-page="$root.numPerPageComment" total-items="$root.itemsComment"></pagination>
				</div>
			</div>
		</div>
	</div>