<div class="modal-header">
	<h4 class="modal-title">Editar juego</h4>
</div>
<div class="modal-body row">
	<form class="form-horizontal col-md-12">
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="gameTitle">{{'GAME.TITLE' | translate}}: </label>
			<div class="col-md-4">
				<input class="form-control"  data-ng-model="$root.updateGame.gameTitle" placeholder="Titulo de juego" required />
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="platform">{{'GAME.PLATFORM' | translate}}: </label>
			<div class="col-md-4">
				<input class="form-control" data-ng-model="$root.updateGame.platform" type="text" placeholder="Plataforma" required />
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="releaseDate">{{'GAME.RELEASE_DATE' | translate}}: </label>
			<div class="col-md-4"><input class="form-control" data-ng-model="$root.updateGame.releaseDate" type="date" placeholder="Fecha de lanzamiento" required />
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="esrb">{{'GAME.ESRB' | translate}}: </label>
			<div class="col-md-4"><select class="form-control" ng-model="$root.updateGame.esrb" ng-options="o as o for o in $root.esrbENG"></select>
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="overview">{{'GAME.OVERVIEW' | translate}}: </label>
			<div class="col-md-4"><textarea class="form-control" data-ng-model="$root.updateGame.overview" rows="2" placeholder="Descripcion" required />
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="players">{{'GAME.PLAYERS' | translate}}: </label>
			<div class="col-md-4"><select class="form-control" ng-model="$root.updateGame.players" ng-options="o as o for o in $root.players"></select>
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group"> 
			<label class="col-md-4 control-label">{{'GAME.COOP' | translate}}</label>
			<div class="col-md-4">
				<label class="checkbox-inline"><input class="form-control" data-ng-model="$root.updateGame.coop" type="radio" ng-checked="$root.updateGame.coop == 'Yes'" value="Yes" />{{'GAME.COOPVALUES.YES' | translate}}</label>
				<label class="checkbox-inline"><input class="form-control" data-ng-model="$root.updateGame.coop" type="radio" ng-checked="$root.updateGame.coop == 'No'" value="No" />{{'GAME.COOPVALUES.NO' | translate}}</label>
			</div>	
		</div>
		<div class="form-group col-md-12 mi-form-group">	
			<label class="col-md-4 control-label" for="publisher">{{'GAME.PUBLISHER' | translate}}: </label>
			<div class="col-md-4">
				<input class="form-control" data-ng-model="$root.updateGame.publisher" type="text" placeholder="Editor" required />
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="developer">{{'GAME.DEVELOPER' | translate}}: </label>
			<div class="col-md-4">
				<input class="form-control" data-ng-model="$root.updateGame.developer" type="text" placeholder="Desarrollador" required />
			</div>
		</div>
		<div class="form-group" data-ng-controller="checkBoxController" data-ng-init="populate()">
			<label class="col-md-4 control-label" for="genres">{{'GAME.GENRES' | translate}}</label>
			<div class="col-md-6">
				<label class="checkbox-inline col-md-5" ng-repeat="genre in $root.genres">
					<input ng-checked="checkGenre(genre) > -1" type="checkbox" data-ng-click="toggle(genre)" value="genre" /> {{genre}} 
				</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">{{'GAME.BOXART' | translate}}</label>
			<div>
				<img data-ng-src="{{$root.updateGame.images.boxart.front.url}}" alt="front" class="img-thumbnail"><icono class="glyphicon glyphicon-remove" aria-hidden="true" data-ng-click="$root.updateGame.images.boxart.front={}"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">{{'GAME.BOXART' | translate}}</label>
			<div>
				<img data-ng-src="{{$root.updateGame.images.boxart.back.url}}" alt="back" class="img-thumbnail"><icono class="glyphicon glyphicon-remove" aria-hidden="true" data-ng-click="$root.updateGame.images.boxart.back={}"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">{{'GAME.LOGO' | translate}}</label>
			<div>
				<img data-ng-src="{{$root.updateGame.images.clearlogo.url}}" alt="logo" class="img-thumbnail"><icono class="glyphicon glyphicon-remove" aria-hidden="true" data-ng-click="$root.updateGame.images.logo={}"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">{{'GAME.BANNERS' | translate}}</label>
			<div class="col-md-4" data-ng-repeat="banner in $root.updateGame.images.banner">
				<img data-ng-src="{{banner.url}}" alt="banner" class="img-thumbnail"><icono class="glyphicon glyphicon-remove" aria-hidden="true" data-ng-click="$root.updateGame.images.banner.splice($index,1)"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">{{'GAME.SCREENSHOTS' | translate}}</label>
			<div class="col-md-4" data-ng-repeat="ss in $root.updateGame.images.screenshot">
				<img data-ng-src="{{ss.url}}" alt="screenshot" class="img-thumbnail"><icono class="glyphicon glyphicon-remove" aria-hidden="true" data-ng-click="$root.updateGame.images.screenshot.splice($index,1)"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">{{'GAME.FANARTS' | translate}}</label>
			<div class="col-md-4" data-ng-repeat="fanart in $root.updateGame.images.fanart">
				<img data-ng-src="{{fanart.url}}" alt="fanart" class="img-thumbnail"><icono class="glyphicon glyphicon-remove" aria-hidden="true" data-ng-click="$root.updateGame.images.fanart.splice($index,1)"/>
			</div>
		</div>
		<div ng-controller="uploadController" class="form-group col-md-12">
			<label class="col-md-4 control-label">Añadir imagen: </label>
			<div class="col-md-8">
			<select class="form-control" ng-model="folder.folder" ng-options="o as o for o in folders"></select>
			<button class="btn btn-default" ngf-select ngf-accept="'image/*'" ngf-change="uploadGameImage($files)">Seleccionar</button>
			</div>
		</div>	
	</form>	
</div>
<div class="modal-footer">
	<button data-ng-click="updateGame()" class="btn btn-primary">Editar <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
