<div data-ng-controller="adminController">
	<div class="formulario col-md-12">
	<form class="form-horizontal col-md-12">
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="gameTitle">Titulo nuevo: </label>
			<div class="col-md-4">
				<input class="form-control" data-ng-model="$root.game.gameTitle" type="text" placeholder="Titulo de juego" required />
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="platform">Plataforma: </label>
			<div class="col-md-4">
				<input class="form-control" data-ng-model="$root.game.platform" type="text" placeholder="Plataforma" required />
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="releaseDate">Fecha de Lanzamiento: </label>
			<div class="col-md-4"><input class="form-control" data-ng-model="$root.game.releaseDate" type="text" placeholder="Fecha de lanzamiento" required />
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="esrb">Clasificación por edad: </label>
			<div class="col-md-4"><select class="form-control" ng-model="$root.game.esrb" ng-options="o as o for o in $root.esrbENG"></select>
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="overview">Overview: </label>
			<div class="col-md-4"><textarea class="form-control" data-ng-model="$root.game.overview" rows="2" placeholder="Descripcion" required />
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="players">Jugadores: </label>
			<div class="col-md-4"><select class="form-control" ng-model="$root.game.players" ng-options="o as o for o in $root.players"></select>
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group"> 
			<label class="col-md-4 control-label">Cooperativo</label>
			<div class="col-md-4">
				<label class="checkbox-inline"><input class="form-control" data-ng-model="$root.game.coop" type="radio" ng-checked="$root.game.coop == 'Yes'" value="Yes" />Si</label>
				<label class="checkbox-inline"><input class="form-control" data-ng-model="$root.game.coop" type="radio" ng-checked="$root.game.coop == 'No'" value="No" />No</label>
			</div>	
		</div>
		<div class="form-group col-md-12 mi-form-group">	
			<label class="col-md-4 control-label" for="publisher">Editor: </label>
			<div class="col-md-4">
				<input class="form-control" data-ng-model="$root.game.publisher" type="text" placeholder="Editor" required />
			</div>
		</div>
		<div class="form-group col-md-12 mi-form-group">
			<label class="col-md-4 control-label" for="developer">Desarrollador: </label>
			<div class="col-md-4">
				<input class="form-control" data-ng-model="$root.game.developer" type="text" placeholder="Desarrollador" required />
			</div>
		</div>
		<div class="form-group" data-ng-controller="checkBoxController" data-ng-init="populate()">
			<label class="col-md-4 control-label" for="genres">Géneros</label>
			<div class="col-md-6">
				<label class="checkbox-inline col-md-5" ng-repeat="genre in $root.genres">
					<input ng-checked="checkGenre(genre) > -1" type="checkbox" data-ng-click="toggle(genre)" value="genre" /> {{genre}} 
				</label>
			</div>
		</div>
		<div class="col-md-4"></div>
	<div class="form-group col-md-8">
			<button data-ng-click="updateGame()" class="col-md-6 btn btn-primary">MODIFICAR DATOS  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
		</div>
	</form>
	</div>
</div>